.login-page {
    display: flex;
    height: 100vh;
    background: #383838;
    border-radius: 3rem;
}
h2{
    font-size: 3rem;
    color: white;
}
label{
    font-size: 1.5rem;
    color: white;
}
.login-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2b2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.login-form {
    width: 80%;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #5c095f;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.image-container {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2b2b;
}

.login-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.newAccount-button{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #9fa0a0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}